/***************
GENERAL RULES
****************/
h1, h2, h3, h4, p, li{
    font-family: 'Varela Round', sans-serif;
}

li{
    list-style: none;
}

body{
    margin:0px;
    width: 100%;
    height: 100vh;
}
/***************
OTHER
***************/

.wrapper{
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%
}

.header{
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;

}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    max-height: 50vh;
}

.list-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#brick-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    width: 50vw;
    padding: 0px;
    max-height: 30vh;
    max-width: 100vw;
}

.brickListItem{
    width: 100%;
    background: lightgrey;
    margin-bottom: 1vh;
    padding: 1vh;
    display: flex;
    justify-content: space-around;

}

.removeBtn{
    
}