/***************
GENERAL RULES
****************/


h1, h2, h3, h4,h5, li, td, tr, p{
    font-family: 'PT Sans Narrow', sans-serif;   
}

.search-text{
    /*font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    */font-size: 30px;
    color: white;
    text-align: center;
    font-size: 5vw;
}

li{
    list-style: none;
}

body{
    margin:0px;
    width: 100%;
    min-height: 100%;
    background-image: repeating-linear-gradient( #284280, #E5EFF7);
    background-repeat: no-repeat;
    height: 100%;

}

html {
    margin: 0px;
    height: 100%;
    width: 100%;
}
/***************
OTHER
***************/

.wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: auto;
    
}

.main{
    width: 100%;
}
#header{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 10vh;
    background-color: #284280;
    border-bottom: solid white;
    align-items: center;

}
.menubutton{
    color: #B3E2F0;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 20px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 4vh;
    cursor: pointer;
    border: 2px solid #B3E2F0;
    border-color: #B3E2F0;
    padding: 3px 5px;
    cursor: pointer;
    border-radius: 8px;
    height: 20%;
   
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.about_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    padding: 40px;
    background-color:white;
    border-radius: 5px;
    margin: 150px;

}

.search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    max-height: 50vh;
}

.search-form{
    width: 50%;
    display: flex;
    justify-content: center;
    height: 5vh;
}

.search-form form{
    width: 100%;
}

#search-field{
    border-radius: 20px 0px 0px 20px;
    width: 80%;
    border: none;
    font-size: 15pt;
    padding: 1%;
    background-color: #B3E2F0;
    
}

.search-btn{
    border-radius: 0px 20px 20px 0px;
    border:none;
    height: 100%;
    background-color: #B3E2F0;
    font-size: larger;
    text-align: center;
    padding-left: 5%;
}

.search-button
{
    border-radius: 5px;
    background-color: white;
}

.list-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#brick-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    width: 50vw;
    padding: 0px;
    max-height: 30vh;
    max-width: 100vw;
}

.brickListItem{
    width: 100%;
    background: lightgrey;
    margin-bottom: 1vh;
    padding: 1vh;
    display: flex;
    justify-content: space-around;

}

.lego-box{
width: 20%;
height: 45vh;
border-radius: 10px;
background-color: white;
margin-right: 3vw;
margin-bottom: 1vw;
display: flex;
flex-direction: column;
padding: 3%;
}

.lego-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;

}

.results{
    flex-direction: row;
    margin-top: 5vh;
    overflow-y: scroll;
    align-items: flex-start;
    padding: 3vw;
   
}


.lego-pic-container{
    height: 50%;
    display: flex;
    justify-content: center;
    max-width: 100%;
    overflow: hidden;
}
.lego-pic{
    max-height: 100%;
}

.lego-info{
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.lego-info p{
    margin: 0px;
}

.more-info{
    background-color: #B3E2F0;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;  
}

.set-title{
    margin-bottom: 0px;
}

.sorting{
    display: flex;
    justify-content: space-evenly;
    padding: 2%;
}

.sorting form{
    display: flex;
    flex-direction: column;
    padding-right: 2vw;
}

.footer{
    height: 30vh;
    position: absolute;
    width: 100%;
    bottom: 0px;
    z-index: -2;

}

@keyframes slideInFromLeft {
    0% {
        right: 0;
        transform: rotate(20deg);
        transform: scaleX(-1);
    }
    
    50%{
        transform: rotate(0deg);
        top: 15%;
        transform: scaleX(-1);
    }
    100% {
        transform: rotate(-20deg);
        right: 100%;
        transform: scaleX(-1);
    }
    
}


@keyframes cloud {
    0% {
        top: 30%;

    }
    50%{
        top: 32%;
    }
    100% {
        top: 30%;

    }
}
@keyframes cloud2 {
    0% {
        top: 30%;
    }
    50%{
        top: 32%;
    }
    100% {
        top: 30%;

    }
}


.airplane{
    top: 50%;
    z-index: -1;
    position: absolute;
    height: 5vh;
    animation: 30s slideInFromLeft;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
    transform: scaleX(-1);
}

.cloud{
    z-index: -2;
    position: absolute;
    height: 20vh;
    animation: 3s cloud;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
    left: 20%;
}

.cloud2{
    position: absolute;
    height: 20vh;
    animation: 5s cloud2;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
    right: 20%;
    z-index: -2;
}

.closeNav, .menu-icon{
    display: none;
}

.menu-icon div{
    width: 35px;
  height: 5px;
  background-color: #B3E2F0;
  margin: 6px 0;
}

.logo-small{
    display: none;
    justify-content: center;
    margin: 0px;
    
}

.logo{
    height: 5vh;
}

.mobile-header{
    display: none;
}

.about_content img{
    width: 100%;
}

.back-btn{
    width: 30%;
    height:10%;
    font-size: large;
    background-color: #284280;
    border: solid white;
    border-top: none;
    border-left: none;
    color: #B3E2F0;
}

@media only screen and (max-width: 600px) {
    #header{
        flex-direction: column;
        height: 0%;
        overflow: hidden;
        transition: 0.2s;
        position: absolute;
        
    }

    .menubutton{
        width: 60%;
        border: none;
    }

    .mobile-header{
        display: flex;
        width: 100%;
        height: 10vh;
        background-color:#284280;
        justify-content: space-around;
        flex-direction: row;
        align-items:center;
        border-bottom: white solid;
    }

    .logo{
        display: none;
    }

    .logo-small{
        width: 33%;

        display: block;

    }
    
    .closeNav, .menu-icon{
        display: block;
    }   

    .closeNav{
        font-weight: bolder;
        font-size: xx-large;
        color: #cc0000;
        border-radius: 50px;
    }


    .wrapper{
        display: flex;
        flex-direction: column;
    }

    .lego-container{
        display: flex;
        flex-direction: column;

        align-items: center;    
    }

    .lego-box{
        width: 80%;
        margin-right: 0px;
    }

    .cloud, .cloud2{
        width: 30%;
    }

    .sorting{
        padding-bottom: 2vh;
        flex-direction: column;
        padding-right: 2vw;
    }

    .sorting form{
        padding-bottom: 2vh;
    }
    
    
}


