/***************
GENERAL RULES
****************/
h1, h2, h3, h4, p, li{
    font-family: 'Varela Round', sans-serif;
}

li{
    list-style: none;
}

body{
    margin:0px;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient( #284280, #E5EFF7);

}
/***************
OTHER
***************/

.wrapper{
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%
     
}
.header{
    display: flex;
    justify-content: space-around;
    position: fixed;
    float: right;
    width: 100%;
    height: 10vh;
    background-color: #284280;
    border-bottom: solid white;
    align-items: center;

}
.menubutton{
    color: #B3E2F0;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 20px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 4vh;
    cursor: pointer;
    border: 2px solid #B3E2F0;
    border-color: #B3E2F0;
    padding: 3px 5px;
    cursor: pointer;
    border-radius: 8px;
    height: 20%;
   
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    max-height: 50vh;
}

.list-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#brick-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    width: 50vw;
    padding: 0px;
    max-height: 30vh;
    max-width: 100vw;
}

.brickListItem{
    width: 100%;
    background: lightgrey;
    margin-bottom: 1vh;
    padding: 1vh;
    display: flex;
    justify-content: space-around;

}

.removeBtn{
    
}

